@charset "utf-8";
.Name_Heading {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
}
.Button_Hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: medium;
}
a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #999;
	text-decoration: none;
}
.Title_Heading {
	font-size: large;
}
